/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6; 
    color: #333; 
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #004d7a; 
    color: white;
    text-align: center;
    padding: 50px 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
}

/* Logo Styling */
#logo {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

/* Navigation Bar Styles */
nav {
    background-color: #0075b3; 
    padding: 15px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.1em;
    padding: 8px 15px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #005f8c; 
}

/* Highlight active navigation link */
.active {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}


/* Main Section Styling */
main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    color: darkblue ;
    margin-bottom: 20px;
}

form {
    background-color: #f9f9f9; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input:focus {
    border-color: #004d7a; 
    outline: none;
}

button {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005f8c; 
}

/* Virtual Consultation Section */
#virtual-consultation {
    background-color: #e1f1f7; 
    padding: 30px;
    margin-top: 40px;
    border-radius: 8px;
}

#virtual-consultation h2 {
    font-size: 1.8em;
    color: #004d7a;
    margin-bottom: 15px;
}

#virtual-consultation p {
    font-size: 1.1em;
    color: #333;
}

#virtual-consultation img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

/* Footer Styles */
footer {
    background-color: #004d7a; 
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 1em;
    margin: 5px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav {
        padding: 10px 0;
    }

    nav a {
        margin: 0 10px;
        font-size: 1em;
    }

    main {
        padding: 20px;
    }

    #virtual-consultation img {
        width: 100%;
    }
}
